@use '../variables' as *;

.users__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.user-card {
  background: var(--bg-color);
  border: 1px solid var(--primary-color);
  border-radius: $border-radius;
  padding: 1rem;
  box-shadow: $box-shadow;
  cursor: pointer;
  transition: $transition;

  &:hover {
    transform: scale($card-hover-scale);
    background-color: var(--primary-color);
    color: #fff;
  }
}